h1 {
    text-align: center; font-weight: 700; font-family: Verdana, Arial, sans-serif;
}

body ul {
    text-align: center; 
    font-family: Verdana, Arial, sans-serif;
    list-style: none;
    padding-left: 0;
}

#img {
    display:block;
    margin: 0 auto;
    text-align: center;
    width: 200px;
    height: 200px;
}